@{
    ViewData["Title"] = "Home";
}

<div class="icon d-flex flex-column align-items-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <h3>Acesse a área de Usuário para criar ou administrar os usuários cadastrados,</h3>
    <h3>ou a área de Denúncia para nos enviar ou gerenciar denúncias de lixo nas praias de São Paulo!</h3>
    <img src="~/images/save_our_planet.png" width="400px" height="400px" alt="Responsive image">
</div>

